@font-face{
    font-family:tnr;
    src:url(../fonts/TNR.f85717dad92d60284052.ttf)
}
body{-webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background:#000;
    font-family:source-serif-pro,Georgia,Cambria,Times New Roman,Times,serif;
    font-size:16px!important;
    margin:0;
    @media (max-width:650px){font-size:12px!important}
}

*{
    color:#fff!important
}
button{background:#000;
    font-size:16px;letter-spacing:-.003em;
    line-height:24px
}
    
code{
    font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}
img{
    margin:0 0 12px;
    width:24px;
}
.App{text-align:center}

.container{
    align-items:center;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
    text-align:left
}
@-webkit-keyframes 
App-logo-spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
@keyframes 
App-logo-spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)}
    }
